{{yield}}

<div class="counter">
  {{#if image}}
    <img class="counter__image" src={{image}}>
  {{/if}}
  <div class="counter__title hidden-md-down">{{title}}</div>
  <div class="counter__countup"></div>
</div>