{{navigation-menu}}
{{#link-to "home" class='brand-logo'}}
  <div class="logo logo--small"></div>
{{/link-to}}

<div class="body">
  <div class="container-fluid">
    <div class="row breadcrumb-container">
      <div class="col-xs-12">
        <small class="text-thin">Corporate Cottage</small>
      </div>
      <div class="col-xs-12">
        <div class="breadcrumb">
          {{#each breadCrumbs as |breadCrumb|}}
            {{#link-to breadCrumb.path class='breadcrumb-item'}}{{breadCrumb.name}}{{/link-to}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {{outlet}}
  </div>
</div>
