{{navigation-menu}}
{{#link-to "home" class='brand-logo'}}
  <div class="logo logo--small"></div>
{{/link-to}}

<div class="body container-fluid">
  <div class="raw breadcrumb-container">
    <div class="col-xs-12">
      <small class="text-thin">Corporate Cottage</small>
    </div>
    <div class="col-xs-12 col-sm-10">
      <div class="breadcrumb">
        {{#each breadCrumbs as |breadCrumb|}}
          {{#link-to breadCrumb.path class='breadcrumb-item'}}{{breadCrumb.name}}{{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
  {{outlet}}
</div>
