{{outlet}}
<div class="raw">
  <div class="col-xs-12">
    <div class="homepage-logo">
      <div class="img logo"></div>
    </div>
    <div class="text-xs-center fade-in">
      <h1>Welcome!</h1>
      <h2>Corporate Cottage</h2>
    </div>
  </div>
</div>